In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("yellow_tripdata_2021-07.csv", nrows=100)

In [ ]:
df.dtypes

In [ ]:
print( pd.io.sql.get_schema(df, name='yello_taxi_data') )

In [ ]:
from sqlalchemy import create_engine # type: ignore

In [ ]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [ ]:
engine.connect()

In [ ]:
print( pd.io.sql.get_schema(df, name='yello_taxi_data', con=engine) )

In [ ]:
df_iter = pd.read_csv("yellow_tripdata_2021-07.csv", iterator=True, chunksize=100000)

In [ ]:
df = next(df_iter)

In [ ]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [35]:
pd.io.sql.get_schema(df, name='yello_taxi_data', con=engine)

'\nCREATE TABLE yello_taxi_data (\n\t"VendorID" BIGINT, \n\ttpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE, \n\ttpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE, \n\tpassenger_count BIGINT, \n\ttrip_distance FLOAT(53), \n\t"RatecodeID" BIGINT, \n\tstore_and_fwd_flag TEXT, \n\t"PULocationID" BIGINT, \n\t"DOLocationID" BIGINT, \n\tpayment_type BIGINT, \n\tfare_amount FLOAT(53), \n\textra FLOAT(53), \n\tmta_tax FLOAT(53), \n\ttip_amount FLOAT(53), \n\ttolls_amount FLOAT(53), \n\timprovement_surcharge FLOAT(53), \n\ttotal_amount FLOAT(53), \n\tcongestion_surcharge FLOAT(53)\n)\n\n'

In [ ]:
df.head(n=0).to_sql(name='yellow_taxi_data' , con=engine, if_exists='replace')

In [ ]:
df.to_sql(name='yellow_taxi_data' , con=engine, if_exists='append')

In [ ]:
from time import time

In [ ]:
while True:
    t_start = time()
    df = next(df_iter)
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    df.to_sql(name='yellow_taxi_data' , con=engine, if_exists='append')
    t_end = time()
    print('insert another chunk, took %.3f second' % (t_end-t_start))